@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About";
    ViewBag.AboutActive = "active";
}

<div class="container">
    <div class="jumbotron">
        <h1>ABOUT US</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a augue in tortor sollicitudin mattis.</p>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <img src="~/Content/images/chef.jpg" class="img-responsive" />
        </div>
        <div class="col-sm-9">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla imperdiet pharetra nisi. Aenean nisi velit, ultricies eu odio eget, rutrum interdum est. Maecenas eleifend, libero sed pulvinar tristique, nulla neque semper turpis, et cursus nisi risus fringilla dolor. Sed facilisis urna ut nisl iaculis, eget pellentesque diam dignissim. Ut sed mauris justo. Nullam enim lorem, vehicula quis quam at, fermentum fermentum justo. Pellentesque hendrerit, arcu nec mattis sodales, lacus ipsum dapibus sem, in viverra magna lectus ac enim. Integer vel risus non diam malesuada rutrum id ut dui. Aenean fringilla ligula ac nisi malesuada, a tincidunt leo volutpat. Cras dapibus, nunc quis cursus consectetur, velit ipsum convallis justo, eget eleifend nibh purus ut nulla. Donec vel euismod metus. Proin nisl erat, blandit non leo a, vestibulum tincidunt risus. Duis at velit urna. Aenean sit amet vulputate tortor.</p>

<p>Cras magna elit, ultrices sed ligula eget, cursus euismod justo. Etiam suscipit vehicula tellus a eleifend. Donec a purus ligula. Nulla ex eros, bibendum quis efficitur ac, ultricies id arcu. Integer placerat nibh quis varius suscipit. Integer malesuada nibh et tortor condimentum facilisis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis ante mauris, at ullamcorper sapien vestibulum a. Curabitur imperdiet nibh consequat arcu auctor, eu auctor sapien fermentum. Fusce placerat ex nec pellentesque convallis. Duis hendrerit lacinia sapien, quis scelerisque est venenatis id. Ut molestie sit amet enim in consequat. Sed sit amet interdum nibh. Praesent iaculis mi diam, at commodo tellus accumsan in.</p>

<p>Sed bibendum leo vel varius tristique. Vivamus laoreet nibh non libero fringilla, et sagittis ante eleifend. Nullam massa ex, hendrerit vitae dolor non, rhoncus dapibus ligula. Mauris vulputate neque risus, ac scelerisque ex feugiat sed. Nullam cursus tincidunt vehicula. Ut ullamcorper lorem nec tincidunt aliquam. Duis imperdiet, nunc et eleifend maximus, nisi nunc tincidunt nibh, vitae ultricies tortor eros in erat. Cras laoreet suscipit felis a venenatis. Quisque vel felis feugiat, eleifend tellus eget, cursus urna. Phasellus commodo eros a diam pulvinar, a tempus nunc aliquam. Nam et iaculis diam. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
        </div>
    </div>
</div>


